{% extends "master.twig" %}
{% block content %}
  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">{{page.title|title}} <small>{{page.subtitle}}</small></span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        {% include 'components/navigation.twig' %}
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">{{system.fullname}}</span>
      {% include 'components/navigation.twig' %}
    </div>
    <div class="demo-ribbon"></div>
    <main class="mdl-layout__content">
    <div class="page-content">
      {% include 'components/ribbon_content.twig' %}
      <div class="mdl-grid">
        {% for view,params in views %}
          {% include view with params %}
        {% endfor %}
      </div>
    </div>
    </main>
  </div>
{% endblock %}